@charset "utf-8";
/* CSS Document */
*,html,body {
	margin: 0; padding: 0;
	font-size: 1em;
}

.navbar {
	z-index: 1;
}

/*jumbotron*/
.jumbotron {
	clear: both;
}

/*media heading*/
div.media img.card-img-top {
	width: 275px;
	height: auto;
	margin: 5px;
}

/*cards*/
div.card {
	float: left;
	margin: 2px;
	width: 100%;
}

/*footer*/
footer {
	margin: 10px;
}